# Training dataset
Real-Time-Weapon-Detection-in-CCTV-Footage-Using-Object-Detection-Algorithms-*/

# Training outputs
weights/
runs/
results/

# YOLO artifacts
*.pt
*.onnx
*.engine
*.torchscript

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Environment
.env
